@model NOTKNOW.Controllers.UserModel
@{
    ViewBag.Title = "answers";
}


@section head{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    <meta charset="utf-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit" />

    <title>我的回答 - 你造嘛</title>

    <meta name="apple-itunes-app" content="app-id=432274380, app-argument=zhihu://people/zzzz-zzzz-51">




    <meta http-equiv="mobile-agent" content="format=html5;url=http://www.zhihu.com/people/zzzz-zzzz-51">
    <meta id="znonce" name="znonce" content="4dce59898e8b4dabbe82f031961fdaec">
    <link rel="apple-touch-icon-precomposed" href="http://static.zhihu.com/static/img/ios/zhihu(57px).png" />
    <link rel="apple-touch-icon-precomposed" href="http://static.zhihu.com/static/img/ios/zhihu(72px).png" sizes="72x72" />
    <link rel="apple-touch-icon-precomposed" href="http://static.zhihu.com/static/img/ios/zhihu(76px).png" sizes="76x76" />
    <link rel="apple-touch-icon-precomposed" href="http://static.zhihu.com/static/img/ios/zhihu(114px).png" sizes="114x114" />
    <link rel="apple-touch-icon-precomposed" href="http://static.zhihu.com/static/img/ios/zhihu(120px).png" sizes="120x120" />
    <link rel="apple-touch-icon-precomposed" href="http://static.zhihu.com/static/img/ios/zhihu(152px).png" sizes="152x152" />


    <link rel="shortcut icon" href="http://static.zhihu.com/static/favicon.ico" type="image/x-icon">

    <link rel="search" type="application/opensearchdescription+xml" href="http://static.zhihu.com/static/search.xml" title="你造嘛" />
    <link rel="stylesheet" href="~/content/CSS/people-index.css">
     <link rel="stylesheet" href="~/content/CSS/topview.css">


    <!--[if lt IE 9]>
<script src="http://static.zhihu.com/static/components/respond/dest/respond.min.js"></script>
<link href="http://static.zhihu.com/static/components/respond/cross-domain/respond-proxy.html" id="respond-proxy" rel="respond-proxy" />
<link href="/static/components/respond/cross-domain/respond.proxy.gif" id="respond-redirect" rel="respond-redirect" />
<script src="/static/components/respond/cross-domain/respond.proxy.js"></script>
<![endif]-->

    <script src="http://static.zhihu.com/static/ver/c18693016ee175f69ca64d8aac8f8d2b.instant.min.js"></script>

    <style>
        .zm-profile-section-head {
            padding: 0;
        }

        .zm-item-top-container {
            display: none;
        }

        .zm-profile-section-head .goog-menu {
            display: none;
            !important;
        }
    </style>

}

<body class="zhi">
  @Html.Action("topView", "index");

    <div class="zu-global-notify" id="zh-global-message" style="display: none">
        <div class="zg-wrap">
            <div class="zu-global-nitify-inner">
                <a class="zu-global-notify-close" href="javascript:;" title="关闭" name="close">x</a>
                <span class="zu-global-notify-icon"></span>
                <span class="zu-global-notify-msg"></span>
            </div>
        </div>
    </div>

  <!--  <div class="zu-global-notify zu-global-notify-info" id="zh-global-notify">
        <div class="zg-wrap">
            <div class="zu-global-nitify-inner">
                <span class="zu-global-notify-icon"></span>
                欢迎！为正常使用你造嘛，请激活您的邮箱：

                <a href="http://mail.163.com" target="_blank">@Model.myUser.UEmail</a>
                <a href="javascript:;" data-activate-dialog="resendEmail">重发激活邮件</a>
                <a href="/settings/account" data-activate-dialog="changeEmail"><i class="zg-icon zg-icon-edit-button-blue"></i>修改</a>
            </div>
        </div>
    </div>
      -->
    <div class="zg-wrap zu-main">
        <div class="zu-main-content">
            <div class="zu-main-content-inner" id="zh-pm-page-wrap">



                <div class="zm-profile-header">
                    <div class="zm-profile-header-main">
                        <div class="top">

                            <div class='weibo-wrap'>
                            </div>

                            <div class="title-section ellipsis">

                                <span class="name">@Model.myUser.UName</span>
                            </div>
                        </div>
                        <div class="body clearfix">
                            <div class="zm-profile-header-avatar-container self">
                                <img alt="@Model.myUser.UName" src=@Model.myUser.UPhoto
class="zm-profile-header-img zg-avatar-big zm-avatar-editor-preview"/>

                                <!--     <span class="zm-entry-head-avatar-edit-button">修改头像</span>-->

                            </div>
                            <div class="zm-profile-header-info">
                                <div class="zm-profile-header-user-describe">
                                    <div class="items">
                                        <div class="item editable-group" data-name="location">

                                            <i class="zg-icon location"></i>

                                            <span class="info-wrap">

                                                <span class="business item">@Model.myUser.UCareer</span>
                                            </span>

                                        </div>
                                    </div>

                                    <div class="zm-profile-header-description editable-group empty" data-name="description">
                                        <span class="info-wrap fold-wrap fold disable-fold">
                                            <span class="description unfold-item">
                                                <span class="content"></span>
                                                <a href="javascript:;" name="fold" class="fold collapse meta-item"><i class="z-icon-fold"></i>收起</a>
                                            </span>
                                            <span class="fold-item">
                                                <span class="content"></span>
                                                <a href="javascript:;" class="unfold" name="unfold">显示全部 »</a>
                                            </span>
@if(ViewBag.user == "me")
{
<a class="zm-profile-header-user-edit zg-link-litblue-normal zg-right" href="/people/edit"><i class="zg-icon zg-icon-edit-button-blue"></i>编辑我的资料</a>
}
                                        </span>
                                        <span class='info-empty-wrap'><i class="zg-icon zg-icon-edit-button-blue"></i>个人简介</span>
                                        <span class="edit-wrap">
                                            <div class="zm-editable-editor-outer">
                                                <div class="zm-editable-editor-inner" style="margin: 20px;">
                                                 <p> @Model.myUser.UIntroduction</p>
                                                </div>
                                            </div>
                             
                                        </span>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="zm-profile-header-operation zg-clear  zm-profile-header-operation-myview">
                        <div class="zm-profile-header-info-list">
                            <span class="zm-profile-header-info-title">获得</span>
                            <span class="zm-profile-header-user-agree"><span class="zm-profile-header-icon"></span><strong>@Model.myUser.UUpvoteNum</strong>赞同</span>
                        </div>
                        @if(ViewBag.user == "me")
{
<a class="zm-profile-header-user-edit zg-link-litblue-normal zg-right" href="/people/edit"><i class="zg-icon zg-icon-edit-button-blue"></i>编辑我的资料</a>
}                                            
@if(ViewBag.user == "notme")
{
    if (ViewBag.focus == "focus")
    {
        <a data-ajax="true" style="display:block;width:100px;margin-left: 500px" class="unfollow-button zg-follow zg-btn-white"  
     href="/follow/_followUser/@Model.myUser.UID">取消关注</a>
        <a data-ajax="true" style="display:none;width:60px;margin-left: 500px" class="follow-button zg-follow zg-btn-green"  
     href="/follow/followUser/@Model.myUser.UID">关注</a>
    }
    else
    {
        <a data-ajax="true" style="display:none;width:100px;margin-left: 500px" class="unfollow-button zg-follow zg-btn-white"  
     href="/follow/_followUser/@Model.myUser.UID">取消关注</a>
        <a data-ajax="true" style="display:block;width:60px;margin-left: 500px" class="follow-button zg-follow zg-btn-green"  
     href="/follow/followUser/@Model.myUser.UID">关注</a>
    }
}
                    </div>
                    <div class="profile-navbar clearfix">
                        <a class="item "
                            href="/people/_ask?email=@Model.myUser.UEmail">提问
                            <span class="num">@Model.myUser.UQuestionNum</span>
                        </a>
                        <a class="item "
                            href="/people/_answer?email=@Model.myUser.UEmail">回答
                            <span class="num">@Model.myUser.UAnswerNum</span>
                        </a>
                        <!--<a class="item "
href="/people/zzzz-zzzz-51/posts">
专栏文章
<span class="num">0</span>
</a>-->
                    
                        <!--<a class="item "
href="/people/zzzz-zzzz-51/logs">
公共编辑
<span class="num">0</span>
</a>-->
                    </div>

                </div>

 <div class="zm-profile-section-wrap zm-profile-answer-page" style="margin-bottom:25px">
<div class="zm-profile-section-head">
<span class="zm-profile-section-name" style="margin-left: 20px;"><a href="/people/index">@Model.myUser.UName</a> 的回答</span>

</div>
<div class="zm-profile-section-list profile-answer-wrap" style="margin-top: 0;">
<div id="zh-profile-list-container">
<div id="zh-profile-answer-list-outer">
<div id="zh-profile-answer-list">

@for(var i = 0; i < Model.answers.Count(); i++)
{    
 <div class="zm-item" id="mi-1403073191">
<h2><a class="question_link" href="/question/show/@Model.questions.ToList()[i].QID" style="margin-left: 50px;">
    @Model.questions.ToList()[i].QContent</a></h2>
<div tabindex="-1" class="zm-item-answer" data-aid="6107165" 
    data-atoken="26968179" data-collapsed="0" data-created="1403073191" 
    data-deleted="0" data-isowner="0" data-helpful="1">
<a class="zg-anchor-hidden" name="answer-6107165"></a>
    <div class="zm-votebar">
<button class="up" aria-pressed="false" title="赞同">
<i class="icon vote-arrow"></i>
<span class="label">赞同</span>
<span class="count">@Model.answers.ToList()[i].AUpvoteNum</span>
</button>
<button class="down" aria-pressed="false" title="反对，不会显示你的姓名">
<i class="icon vote-arrow"></i>
<span class="label">反对，不会显示你的姓名</span>
</button>
</div>

<div class="zm-item-vote">
<a name="expand" class="zm-item-vote-count" href="javascript:;" data-votecount="3">@Model.answers.ToList()[i].AUpvoteNum</a>
</div>

<div class="answer-head">

<div class="zm-item-answer-author-info">
<h3 class="zm-item-answer-author-wrap">


<a data-tip="p$t$yang" class="zm-item-link-avatar" href="/people/yang">
<img src="http://pic2.zhimg.com/1f33bd534_s.jpg" class="zm-list-avatar" data-source="http://pic2.zhimg.com/1f33bd534_s.jpg">
</a>



<a data-tip="p$t$yang" href="/people/index">@Model.myUser.UName</a><strong title="剑宿吾命，何来宿命" class="zu-question-my-bio">@Model.myUser.UIntroduction</strong>

</h3>
<a href="javascript:;" name="collapse" 
    class="collapse meta-item zg-right"><i class="z-icon-fold"></i>收起</a>
</div>


</div>
<div class="zm-item-rich-text" data-resourceid="1857127" data-action="/answer/content">


<div style="max-height: 200px;word-wrap: break-word;overflow:hidden;" class="zh-summary summary clearfix">

@Html.Raw(Model.answers.ToList()[i].AContent)
</div>

</div>
<div class="zm-item-meta zm-item-comment-el answer-actions clearfix">
<div class="zm-meta-panel">

<a href="/question/show/@Model.answers.ToList()[i].AQuestionID" name="addcomment" class=" meta-item toggle-comment">
<i class="z-icon-comment"></i>添加评论</a>

<span class="copyright zu-autohide"></span>

<a href="#" name="collapse" class="collapse meta-item zg-right"><i class="z-icon-fold"></i>收起</a>
</div>

</div>
</div>

</div>
}
</div>
</div>
</div>
</div>
</div>

            </div>
        </div>
        <div class="zu-main-sidebar">
            <div class="zm-profile-side-following zg-clear">
                <a class="item" href="/people/zzzz-zzzz-51/followees">
                    <span class="zg-gray-normal">关注了</span><br />
                    <strong>@Model.myUser.UFollowingNum</strong><label> 人</label>
                </a>
                <a class="item" href="/people/zzzz-zzzz-51/followers">
                    <span class="zg-gray-normal">关注者</span><br />
                    <strong>@Model.myUser.UFollowerNum</strong><label> 人</label>
                </a>
            </div>



            <div class="zm-profile-side-section">
                <div class="zm-side-section-inner zg-clear">
                    <div class="zm-profile-side-section-title">
                        关注了 <a href="/people/focusTopic?email=@Model.myUser.UEmail" class="zg-link-litblue"><strong>@Model.myUser.UFTopicNum </strong><strong>个话题</strong></a>
                    </div>
                    <div class="zm-profile-side-topics" id="zh-profile-following-topic">
                    </div>
                </div>
            </div>

            <div class="zm-profile-side-section">
                <div class="zm-side-section-inner">
                    <!--<span class="zg-gray-normal">个人主页被 <strong>1</strong> 人浏览</span>-->
                </div>
            </div>

            <script type="text/json" class="json-inline" data-name="current_people">["zzzz zzzz","zzzz-zzzz-51","http:\/\/pic3.zhimg.com\/da8e974dc_s.jpg","cd6399291cae704620268538cbac9430"]</script>
            <!--<div id="zh-footer" class="zh-footer">
<div class="zg-wrap clearfix">
<ul>

<li><a href="/question/19581624" target='_blank'>你造嘛指南</a></li>
<li><a href="javascript:;" id="js-feedback-button">建议反馈</a></li>

<li><a href="/app" target='_blank'>移动应用</a></li>
<li><a href="/read">你造嘛阅读</a></li>
<li><a href="/jobs">加入你造嘛</a></li>
<li><a href="/terms" target="_blank">你造嘛协议</a></li>
</ul>
<span class="copy">&copy; 2014 你造嘛</span>
</div>
</div>

</div>
<div class="zg-clear"></div>
</div>-->


            <script type="text/json" class="json-inline" data-name="current_user">["zzzz zzzz","zzzz-zzzz-51","http:\/\/pic2.zhimg.com\/da8e974dc_s.jpg","cd6399291cae704620268538cbac9430","",1,1,0,"z333@163.com","http:\/\/mail.163.com",1,true,false]</script>
            <script type="text/json" class="json-inline" data-name="env">["zhihu.com","comet.zhihu.com",false,null]</script>
            <script type="text/json" class="json-inline" data-name="permissions">[]</script>


            <script type="text/json" class="json-inline" data-name="ga_vars">{"user_created":1406083563000,"now":1406099384000,"abtest_mask":"---------0--------------------","user_attr":[1,0,0,"-",1],"user_hash":"cd6399291cae704620268538cbac9430"}</script>
            <script src="/Scripts/topview.js"></script>
            <script src="http://static.zhihu.com/static/ver/be1f4e09e99650d8ff09ac81943bc61f.extern_src.min.js"></script>
            <script src="http://static.zhihu.com/static/ver/60f6e687053394d0ec104e06d1c50d80.app_core.js"></script>
            <script src="http://static.zhihu.com/static/ver/30bee34a30f42107cf3200aa0629c286.sign.js"></script>
            <script src="http://static.zhihu.com/static/ver/928607f392b00d3feda9c7fb5ebc0f8b.app.js"></script>
            <script src="http://static.zhihu.com/static/ver/46c6f900b1e2ffc13f9e966e40dba78d.rich_text_editor.js"></script>

            <script type="text/zscript" znonce="4dce59898e8b4dabbe82f031961fdaec">
ZH.entryP();
            </script>

            <input type="hidden" name="_xsrf" value="b9ee8e6f259247ffa03b934609a3771e" />
</body>
</html>
