@model NOTKNOW.Controllers.TopicSquare

@{
    ViewBag.Title = "话题广场";
}

<!DOCTYPE html>
<html lang="zh-CN" dropeffect="none" class="js no-touch cssgradients no-mobile"><head>
@{
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
<meta charset="utf-8">

<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="renderer" content="webkit">

<title>话题广场 - 你造嘛</title>

<meta name="apple-itunes-app" content="app-id=432274380">



<link rel="stylesheet" href="~/Content/CSS/topview.css">
    <link href="~/Content/CSS/topic.css" />
<meta http-equiv="mobile-agent" content="format=html5;url=http://www.zhihu.com/topics">
<meta id="znonce" name="znonce" content="cb116b7447bb41f88d5d6700c4aa5525">
<link rel="apple-touch-icon-precomposed" href="http://static.zhihu.com/static/img/ios/zhihu(57px).png">
<link rel="apple-touch-icon-precomposed" href="http://static.zhihu.com/static/img/ios/zhihu(72px).png" sizes="72x72">
<link rel="apple-touch-icon-precomposed" href="http://static.zhihu.com/static/img/ios/zhihu(76px).png" sizes="76x76">
<link rel="apple-touch-icon-precomposed" href="http://static.zhihu.com/static/img/ios/zhihu(114px).png" sizes="114x114">
<link rel="apple-touch-icon-precomposed" href="http://static.zhihu.com/static/img/ios/zhihu(120px).png" sizes="120x120">
<link rel="apple-touch-icon-precomposed" href="http://static.zhihu.com/static/img/ios/zhihu(152px).png" sizes="152x152">


<link rel="shortcut icon" href="http://static.zhihu.com/static/favicon.ico" type="image/x-icon">

<link rel="search" type="application/opensearchdescription+xml" href="http://static.zhihu.com/static/search.xml" title="知乎">
<link rel="stylesheet" href="~/Content/CSS/people-index.css">



<!--[if lt IE 9]>
<script src="http://static.zhihu.com/static/components/respond/dest/respond.min.js"></script>
<link href="http://static.zhihu.com/static/components/respond/cross-domain/respond-proxy.html" id="respond-proxy" rel="respond-proxy" />
<link href="/static/components/respond/cross-domain/respond.proxy.gif" id="respond-redirect" rel="respond-redirect" />
<script src="/static/components/respond/cross-domain/respond.proxy.js"></script>
<![endif]-->

<script async="" src="//www.google-analytics.com/analytics.js"></script><script type="text/javascript" async="" src="http://www.google-analytics.com/ga.js"></script><script src="http://static.zhihu.com/static/ver/c18693016ee175f69ca64d8aac8f8d2b.instant.min.js"></script>

<style type="text/css">
.zh-general-list { display: none; }
</style>
}
</head>

<body class="zhi">
@Html.Action("topView", "index");


<div class="zu-global-notify" id="zh-global-message" style="display:none">
<div class="zg-wrap">
<div class="zu-global-nitify-inner">
<a class="zu-global-notify-close" href="javascript:;" title="关闭" name="close">x</a>
<span class="zu-global-notify-icon"></span>
<span class="zu-global-notify-msg"></span>
</div>
</div>
</div>

<div class="zg-wrap zu-main" role="main"><div class="zu-main-content"><div class="zu-main-content-inner">
<!---------------- start main ---------------->
<div class="zm-topic-cat-page">
<div class="zm-topic-cat-title">

<a href="/people/focusTopic?email=@Model.myUser.UEmail" class="zg-link-gray zg-right">
<span>已关注 @Model.myUser.UFTopicNum 个话题</span>
</a>

<h2><i class="zg-icon zg-icon-topic-square"></i>话题广场</h2>
</div>

<div class="zm-topic-cat-sub">

<div class="zh-general-list clearfix" data-init="{&quot;params&quot;: {&quot;hash_id&quot;: &quot;159d099772387607a8a95e0a28a20843&quot;, &quot;offset&quot;: 0, &quot;topic_id&quot;: 1538}, &quot;nodename&quot;: &quot;TopicsPlazzaListV2&quot;}" style="display: block;">
@{
    for (int i = 0; i < Model.topic.Count(); i += 2)
    { 
<div class="item"><div class="blk">
<a target="_blank" href="/topic/questions/@Model.topic[i].TID">
<img src="@Model.topic[i].TPhoto" alt="体育">
<strong>@Model.topic[i].TContent</strong>
</a>
<p>@Model.topic[i].TDescription</p>
@{
        if (Model.focus[i])
        {
    <a style="display:block;background-color:rgba(255, 255, 0, 0.22)" href="/follow/_followTopic/@Model.topic[i].TID" 
        data-ajax="true"  class="@Model.topic[i].TID follow meta-item zg-unfollow">取消关注</a>
    <a style="display:none" data-ajax="true" href="/follow/followTopic/@Model.topic[i].TID" 
        class="@Model.topic[i].TID follow meta-item zg-follow">
        <i class="z-icon-follow"></i>关注</a>
        }
        else
        {
                
    <a  style="display:block" data-ajax="true" href="/follow/followTopic/@Model.topic[i].TID" 
        class="@Model.topic[i].TID follow meta-item zg-follow">
        <i class="z-icon-follow"></i>关注</a>
    <a data-ajax="true" style="display:none; background-color:rgba(255, 255, 0, 0.22)" href="/follow/_followTopic/@Model.topic[i].TID" 
          class="@Model.topic[i].TID follow meta-item zg-unfollow">取消关注</a>
    
        }

<script>
    $(".zg-follow.@Model.topic[i].TID").click(function () {
        $(".zg-follow.@Model.topic[i].TID").css("display", "none");
        $(".zg-unfollow.@Model.topic[i].TID").css("display", "block");
    })
</script>
    <script>
        $(".zg-unfollow.@Model.topic[i].TID").click(function () {
            $(".zg-unfollow.@Model.topic[i].TID").css("display", "none");
            $(".zg-follow.@Model.topic[i].TID").css("display", "block");
        })
</script>
}
</div></div>
        if (i + 1 < Model.topic.Count())
        {
<div class="item even"><div class="blk">
<a target="_blank" href="/topic/questions/@Model.topic[i + 1].TID">
<img src="@Model.topic[i + 1].TPhoto" alt="篮球">
<strong>@Model.topic[i + 1].TContent</strong>
</a>
<p>@Model.topic[i + 1].TDescription</p>
@{
            if (Model.focus[i + 1])
            {
    <a style="display:block;background-color:rgba(255, 255, 0, 0.22)" href="/follow/_followTopic/@Model.topic[i + 1].TID" 
        data-ajax="true"  class="@Model.topic[i + 1].TID follow meta-item zg-unfollow">取消关注</a>
    <a style="display:none" data-ajax="true" href="/follow/followTopic/@Model.topic[i + 1].TID" 
        class="@Model.topic[i + 1].TID follow meta-item zg-follow">
        <i class="z-icon-follow"></i>关注</a>
            }
            else
            {
                
    <a  style="display:block" data-ajax="true" href="/follow/followTopic/@Model.topic[i + 1].TID" 
        class="@Model.topic[i + 1].TID follow meta-item zg-follow">
        <i class="z-icon-follow"></i>关注</a>
    <a data-ajax="true" style="display:none; background-color:rgba(255, 255, 0, 0.22)" href="/follow/_followTopic/@Model.topic[i + 1].TID" 
          class="@Model.topic[i + 1].TID follow meta-item zg-unfollow">取消关注</a>
    
            }
<script>
    $(".zg-follow.@Model.topic[i + 1].TID").click(function () {
        $(".zg-follow.@Model.topic[i + 1].TID").css("display", "none");
        $(".zg-unfollow.@Model.topic[i + 1].TID").css("display", "block");
        })
</script>
    <script>
        $(".zg-unfollow.@Model.topic[i + 1].TID").click(function () {
            $(".zg-unfollow.@Model.topic[i + 1].TID").css("display", "none");
        $(".zg-follow.@Model.topic[i + 1].TID").css("display", "block");
    })
</script>
}
</div></div>
        }
    }
}
</div>
</div>
</div>
<!---------------- end main ---------------->
</div></div>
<div class="zu-main-sidebar" style="margin-top: 33px">

<ul class="zm-topic-cat-main clearfix" style="border-top: 1px solid #eee">
@{
    for (int i = 0; i < Model.topic.Count(); i++)
    {
<li data-id="1538"><a href="/topic/questions/@Model.topic[i].TID">@Model.topic[i].TContent</a></li>
    }
}
</ul>

</div>
<div class="zg-clear"></div>
</div>


<script type="text/json" class="json-inline" data-name="current_user">["\u5f90\u5b50\u8339","xu-zi-ru-60","http:\/\/pic2.zhimg.com\/a007a9be4_s.jpg","159d099772387607a8a95e0a28a20843","",0,1,1,"xzr12thss@163.com","http:\/\/mail.163.com",1,false,false]</script>
<script type="text/json" class="json-inline" data-name="env">["zhihu.com","comet.zhihu.com",false,null]</script>
<script type="text/json" class="json-inline" data-name="permissions">[]</script>


<script type="text/json" class="json-inline" data-name="ga_vars">{"user_created":1405669775000,"now":1406547929000,"abtest_mask":"---------0--------------------","user_attr":[1,0,0,"-","-"],"user_hash":"159d099772387607a8a95e0a28a20843"}</script>


<script src="http://static.zhihu.com/static/ver/be1f4e09e99650d8ff09ac81943bc61f.extern_src.min.js"></script>
<script src="http://static.zhihu.com/static/ver/0697483e2ab1a23857dd2b0197e41827.app_core.js"></script>
<script src="http://static.zhihu.com/static/ver/f9e164926a90bbc3e832c7bef28fe05d.sign.js"></script>
<script src="http://static.zhihu.com/static/ver/2bc515676ae90064a8f05acf3167b130.app.js"></script>
<script src="http://static.zhihu.com/static/ver/286bd6f805a8fe20da98e7c2e09276f3.rich_text_editor.js"></script>
<script src="~/Scripts/topview.js"></script>
<script type="text/zscript" znonce="cb116b7447bb41f88d5d6700c4aa5525">
ZH.entryTS();
</script>

<input type="hidden" name="_xsrf" value="0c07e58e12514412b3b20657c53d7ac0">

<div class="zh-backtotop" style="opacity: 0; display: none;"><a data-action="backtotop" data-tip="s$r$回到顶部" href="javascript:;" class="btn-backtotop btn-action"><div class="arrow"></div><div class="stick"></div></a></div><div id="zh-tooltip"></div><div id="zh-global-spinner" style="display: none;">加载中…</div>
<div style="left:200px;position:absolute;">@Html.Partial("footer")</div>
</body></html>